---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/35.242.177.6/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "35.242.177.6",
          "hostname": "6.177.242.35.bc.googleusercontent.com",
          "city": "London",
          "region": "England",
          "country": "GB",
          "loc": "51.5085,-0.1257",
          "org": "AS396982 Google LLC",
          "postal": "E1W",
          "timezone": "Europe/London",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Thu, 16 Apr 2026 09:05:29 GMT
recorded_with: VCR 6.4.0
